<ion-header color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="menuLateral()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-menu side="start" menuId="mimenu2" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <ion-item routerLink="/homeconductor">Inicio</ion-item>
        <ion-item routerLink="/historialconductor">Historial de viajes</ion-item>
        <ion-item routerLink="/mensajes">Mensajería</ion-item>
        <ion-item routerLink="/logeado">Modo cliente</ion-item>
        <ion-item routerLink="/cerrarsesion">Cerrar Sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-list [inset]="true" lines="full" mode="ios">
<ion-list-header mode="ios" color="primary">
  <ion-label class="ion-text-center">TeLlevoApp</ion-label>
</ion-list-header>

<ion-item>
  <ion-button expand="block" fill="clear" shape="round">
    <ion-label>Noticias</ion-label>
  </ion-button>
</ion-item>

<ion-item>
  <ion-button expand="block" fill="clear" shape="round">
    <ion-label>Noticias</ion-label>
  </ion-button>
</ion-item>
</ion-list>

  <div class="imagen1">
  <img src="assets/imagen1.avif" alt="Mapa" class="imagen1"/>
  </div>
  <br>


  <ion-button routerLink="/publicarviaje" expand="block" class="search-button">Publicar viaje</ion-button>
</ion-content>