<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homeconductor">Volver</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Historial de viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>De: Duoc UC Sede San Andrés</ion-card-title>
      <ion-card-subtitle>Hacia: Punta de parra 322</ion-card-subtitle>
    </ion-card-header>
    <ion-card-subtitle>Valor: $10.000</ion-card-subtitle>
    <ion-card-subtitle>Km recorrido: 32Km</ion-card-subtitle>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>De: Duoc UC Sede San Andrés</ion-card-title>
      <ion-card-subtitle>Hacia: Paicaví 322</ion-card-subtitle>
    </ion-card-header>
    <ion-card-subtitle>Valor: $15.000</ion-card-subtitle>
    <ion-card-subtitle>Km recorrido: 12Km</ion-card-subtitle>
  </ion-card>
</ion-content>