<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home">Volver</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Seguimiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/seguimiento.png" alt="tiemporeal" />

  <div class="button-container">
    <ion-button routerLink="/cancelado" expand="block" shape="round">
      Cancelar
    </ion-button>
    <ion-button routerLink="/logeado" expand="block" shape="round">
      Ir al home
    </ion-button>
  </div>
</ion-content>
