<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-icon name="checkmark-circle-outline" class="icono"></ion-icon>
  <ion-text color="white" class="ion-text-center">
    <h1>Sesión cerrada correctamente</h1>
  </ion-text>

  <div class="seguimiento">
    <ion-button routerLink="/home">
      Volver al inicio
      <ion-icon name="home-outline" slot="start"></ion-icon>
    </ion-button>
  </div>

</ion-content>