<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home">Volver</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Perfil</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <img src="assets/conductor2.jpg" alt="conductor" class="conductor">

        <ion-label class="ion-text-center">
          <ion-text color="white">
            <h1>Junior PlayBoy</h1>
            <h2>+569 83395612</h2>
          </ion-text>
        </ion-label>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Auto</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <img src="assets/auto1.jpg" alt="auto1" class="auto1"  style="display: block; margin: auto;">
         <br>
        <ion-label class="ion-text-center" >
          <ion-text color="white">
            <h2>Marca: Nissan</h2>
            <h2>Modelo: Sentra v16</h2>
            <h2>Color: Negro/Rojo</h2>
            <h2>Pantente: GK-SB-78</h2>
            <h2>Año: 2010</h2>
          </ion-text>
        </ion-label>

    </ion-card-content>
  </ion-card>

</ion-content>
