<ion-header color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homeconductor">Volver</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      TeLlevoApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Publicar Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
      <ion-text color="primary" class="ion-text-center">
        <h4>Desde</h4>
      </ion-text>

      <ion-item>
        <ion-input value=""></ion-input>
      </ion-item>

      <br>

      <ion-text color="primary" class="ion-text-center">
        <h4>Hasta</h4>
      </ion-text>

      <ion-item>
        <ion-input  value=""></ion-input>
      </ion-item>

      <br>

      <ion-text color="primary" class="ion-text-center">
        <h4>Valor</h4>
      </ion-text>

      <ion-item>
        <ion-input  value=""></ion-input>
      </ion-item>

      <br>

      <ion-text color="primary" class="ion-text-center">
        <h4>Capacidad</h4>
      </ion-text>

      <ion-item>
        <ion-input  value=""></ion-input>
      </ion-item>
      
      <br>

      <div class="btn">
      <ion-button routerLink="/">Publicar viaje</ion-button>
    </div>
    </ion-list>


    </ion-card-content>


  
  </ion-card>
</ion-content>
