<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-icon name="checkmark-circle-outline" class="listo"></ion-icon>
  <ion-text color="white" class="ion-text-center">
    <h1>Reserva realizada correctamente!</h1>
  </ion-text>

  <div class="seguimiento">
    <ion-button routerLink="/seguimiento">
      Seguir al conductor
      <ion-icon name="navigate-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>