<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home">Volver</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-card class="container">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Iniciar Sesión</ion-card-title>
    </ion-card-header>
  

    <ion-card-content>

      <form #miForm="ngForm" (ngSubmit)="login()" >
    
      <ion-item>
        <ion-input [(ngModel)]="usr.username" name="username" label="Nombre de usuario" label-placement="floating" fill="outline" placeholder=""></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input [(ngModel)]="usr.password" name="password" type="password" label="Contraseña" label-placement="floating" fill="outline" placeholder=""></ion-input>
      </ion-item>
    
      <div class="botones-login">
        <ion-button type="submit" expand="block" color="primary">Iniciar Sesión</ion-button>
      </div>

    </form>

      <div class="ion-text-center">
        <a href="/registro">Registrarse</a>
      </div>

    </ion-card-content>
    
    

  </ion-card>

</ion-content>

