<ion-header color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="menuLateral()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-menu side="start" menuId="mimenu3" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <ion-item routerLink="/logeado">Inicio</ion-item>
        <ion-item routerLink="/historial">Historial</ion-item>
        <ion-item routerLink="/perfil">Perfil</ion-item>
        <ion-item routerLink="/homeconductor">Modo Conductor</ion-item>
        <ion-item routerLink="/cerrarsesion">Cerrar Sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <!-- Identificar el contenido principal -->
  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-list [inset]="true" lines="full" mode="ios">
<ion-list-header mode="ios" color="primary">
  <ion-label class="ion-text-center">TeLlevoApp</ion-label>
</ion-list-header>

<ion-item>
  <ion-button expand="block" fill="clear" shape="round">
    <ion-label>Noticias</ion-label>
  </ion-button>
</ion-item>

<ion-item>
  <ion-button expand="block" fill="clear" shape="round">
    <ion-label>Noticias</ion-label>
  </ion-button>
</ion-item>
</ion-list>

  <div class="imagen1">
  <img src="assets/imagen1.avif" alt="Mapa" class="imagen1"/>
  </div>
  <br>

  <div class="botones-inputs">
  <ion-item>
    <ion-searchbar animated="true" placeholder="Desde"></ion-searchbar>
  </ion-item>

  <ion-item>
    <ion-searchbar animated="true" placeholder="Hasta"></ion-searchbar>
  </ion-item>
</div>

  <ion-button routerLink="/conductores" expand="block" class="search-button">Buscar Conductor</ion-button>
</ion-content>