<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Cancelado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-icon name="close-circle-outline" class="cancelado"></ion-icon>
  <ion-text color="white" class="ion-text-center">
    <h2>Viaje cancelado correctamente</h2>

    <ion-buttons slot="center">Volver al inicio</ion-buttons>
  </ion-text>
  <br><br><br>

  <div class="btncancelado">
    <ion-button routerLink="/logeado">
      Volver al inicio
    </ion-button>
  </div>




</ion-content>